/*Zoe Raw 665589487*/
h1{
    font-family: Arial, Helvetica, sans-serif;
    color:#8B0000;
}

h2{
    width:auto;
    background-color: #DC143C;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    c
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    color: #686868;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

th{
    color: #8B0000;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    color: #DE3163;
}
a:visited{
    color:#FAA0A0;
}

a:hover{
    color:#800020
}