h1{
    font-family: Arial, Helvetica, sans-serif;
    color:#080808;

}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #585858;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    color: #686868;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}